header{
    width: 100%;
    height: 4.24rem;
    background-image: url("../img/header.png");
    background-size: cover;
    margin-bottom: 0.49rem;
}

footer{
    width: 100%;
    height: 8.61rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
footer .box{
    width: 7.02rem;
    height: 8.61rem;
    border: 0.03rem solid #d1c0a5;
    box-sizing: border-box;
    border-radius: 0.1rem;
}
footer .box .top{
    width: 6.96rem;
    height: 2.04rem;
    /*background: red;*/
    position: relative;
}
footer .box .top .shang{
    width: 6.96rem;
    height: 1.27rem;
    font-size: 0.3rem;
    color: #d3444c;
    text-align: center;
    line-height: 1.27rem;
}
footer .box .top .shang i{
    color: red;
    font-size: 0.4rem;
}
footer .box .top .xia{
    width: 6.96rem;
    height: 0.77rem;
    font-size: 0.28rem;
    text-align: center;
    color: #d3444c;
}
footer .box .top .cuo{
    font-size: 0.26rem;
    position: absolute;
    top: 0.9rem;
    right: 0.24rem;
    display: block;
}
footer .box .nav{
    width: 6.96rem;
    height: 0.04rem;
    background: #d1c0a5;
}
footer .box .bottom{
    width: 6.96rem;
    height: 6.47rem;
    /*background: yellow;*/
}
footer .box .bottom .i1{
    width: 6.96rem;
    height: 1.38rem;
    font-size: 0.28rem;
    color: #b63b48;
    text-align: center;
    line-height: 1.38rem;
}
footer .box .bottom .i2{
    width: 6.96rem;
    height: 0.77rem;
    font-size: 0.24rem;
    color: #b63b48;
    text-align: center;
}
footer .box .bottom .i3{
    width: 6.96rem;
    height: 1.54rem;
    font-size: 0.24rem;
    color: #b63b48;
    text-align: center;
    padding: 0 2.71rem;
    box-sizing: border-box;
}
footer .box .bottom .i3 img{
    width: 1.54rem;
    height: 1.54rem;
}
footer .box .bottom .i4{
    width: 6.96rem;
    height: 1.17rem;
    line-height: 1.17rem;
    text-align: center;
    font-size: 0.28rem;
    /*background: red;*/
}
footer .box .bottom .i5{
    width: 6.96rem;
    height: 0.98rem;
}
footer .box .bottom .i5 .left{
    width: 2.27rem;
    height: 0.98rem;
    background: #a6937c;
    margin-right: 1.32rem;
    margin-left: 0.55rem;
    float: left;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.98rem;
    border-radius: 0.1rem;
    display: block;
}
footer .box .bottom .i5 .right{
    width: 2.27rem;
    height: 0.98rem;
    background: #ff0000;
    float: left;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.98rem;
    border-radius: 0.1rem;
    display: block;
}